<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Thargoid Search Tools</title>
    </head>
    <body>
        <h1>Thargoid Search Tools</h1>
        <h2>Systems Within Radius Discovery Tool</h2>
        <form method="post" enctype="multipart/form-data" action="/search">
            <h3>Current System</h3>
            <label>X</label>
            <input type="number" step="0.0001" name="x">
            <label>Y</label>
            <input type="number" step="0.0001" name="y">
            <label>Z</label>
            <input type="number" step="0.0001" name="z">
            <h3>Distances</h3>
            <p>Input these as they are decoded from Octal, the tool will convert them to Lightyears</p>
            <label>Distance A</label>
            <input type="number" step="0.0001" name="a">
            <label>Distance B</label>
            <input type="number" step="0.0001" name="b">
            <label>Distance C</label>
            <input type="number" step="0.0001" name="c">
            <input type="submit" value="Submit">
        </form>
        <a href="https://github.com/purrcat259/thargoid-search-tools">Source on GitHub</a>
    </body>
</html>